{block content}
<section id="about">
    <div class="container">

        <header class="section-header">
            <h2 class="section-title">Upravit kategorii</h2>
        </header>
        <hr>
        <a n:href="Download:addCategory" class="btn btn-outline-danger">Zpět</a>

        <div class="row">
            <div class="col-lg-6">
                {include bootstrap-form downloadCategoryForm}
            </div>
        </div>
    </div>
</section>